body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f2f2f2;
}

header {
  background: url("assets/Conifer_forest.jpg") center/cover no-repeat;
  color: white;
  text-align: center;
  padding: 60px 20px;
}

.botao {
  display: inline-block;
  background: white;
  color: #1b8f3a;
  padding: 10px 15px;
  text-decoration: none;
  margin-top: 15px;
  border-radius: 50px;
}

/* Cards */
.cards {
  text-align: center;
  padding: 20px;
}

.card {
  display: inline-block;
  width: 220px;
  background: white;
  margin: 10px;
  padding: 10px;
}

.card-img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  background: #ccc;
}

.botao-card {
  display: inline-block;
  background: #1b8f3a;
  color: white;
  padding: 6px 12px;
  text-decoration: none;
  margin-top: 10px;
  border-radius: 50px;
}

/* Formulário */
.formulario {
  background: white;
  padding: 25px;
  margin: 20px;
  text-align: center;
}

form input,
form select {
  width: 80%;
  padding: 8px;
  margin: 8px 0;
  border: 1px solid #333;
}

form button {
  height: 50px;
  width: 50%;
  background: #1b8f3a;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 10px;
}

/* Rodapé */
footer {
  text-align: center;
  background: #ddd;
  padding: 10px;
  margin-top: 20px;
}
